<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="propeller" content="64cb8e1f5657098f43f510cc23e475f5" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css"/>
		<style type="text/css">
			html, body, #root{
				font-family: "Roboto";
				height: 100%;
				width: 100%;
				margin: 0;
				overflow: auto;
			}
			.adsbygoogle{
				min-height: 200px;
			}
			.ReactTabs__Tab{
				border-left: 0px!important;
			}
			@media screen and (max-width:800px){
				#github{
					display: none;
				}
			}
		</style>
	</head>
	<body>
		<a id="github" href="https://github.com/ewnavilae/thatmonkeygame"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>
		<div id="root">
		</div>
		<% for (var chunk in htmlWebpackPlugin.files.chunks){ %>
			<% var chunk = htmlWebpackPlugin.files.chunks[chunk].entry %>
			<script type="text/javascript" src="<%=__LIVE__ ? chunk.replace("/","/liveversion/") : chunk %>"></script>
		<% }%>
		</script>

	</body>
</html>
